.check {
  width: 15px;
  margin-right: 2%;
}

/* .tool-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
} */

.tool-right ul {
  width: 60%;
}

.tool-right ul li p {
  color: #6c6c6c;
}

.tool-right ul li {
  margin-bottom: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.tool-title {
  font-weight: bold;
  margin-bottom: 2rem;
  width: 60%;
  font-size: 40px;
  color: #0c0a0a;
}
