@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.navbar {
  display: flex;
  justify-content: flex-end;
  top: 3%;
  right: 10%;
  width: 50%;
  position: absolute;
  z-index: 1;
}

li {
  color: white;
  font-family: "Poppins", sans-serif;
}

.list {
  padding: 4%;
  cursor: pointer;
}

li.drop::after {
  content: "\25BE";
  padding-left: 5px;
  height: 1%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}

.mobile-menu-icon {
  display: none;
}

