@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

.polygon {
  clip-path: polygon(0 0, 100% 0, 100% 48%, 64% 74%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 57%;
  height: 110vh;
  background: #6c2de2;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.showcase {
  font-weight: bold;
  font-size: 3rem;
  width: 45%;
  margin-left: 8rem;
  margin-top: 5rem;
  color: #242424;
}

.parag {
  margin-top: 2rem;
  color: #5a5a5a;
  width: 70%;
  margin-left: 8rem;
  font-size: 1rem;
}

.right img {
  margin-top: 7rem;
  height: 80vh;
  margin-right: 10rem;
}

.btn {
  margin-top: 2rem;
  margin-left: 10rem;
  background-color: #552ade;
  color: white;
  border: 1px solid #552ade;
  height: 20%;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
